<div class="upper_bar">
	<img class="icon" src="images/logo.png"></img>
		<div class = "search">
			<form method="get" action="/search-posts">
				<input type="search" placeholder="Search here..." class="searchinput" />
			</form>    
		</div>
		<div class = "shortcut">
			<nav class="shortcutlink">
				<a href="/home">Home</a>
				<a href="/view-profile?username={{ username }}" >Profile</a>
				<a href="/logout">Logout</a>
				<a href="/about">About</a>
			</nav>
		</div>
		
		<div class = "profile" onclick="location.href='/view-profile?username={{ username }}'">
			<img src='{{ headerProfileImg }}' class="profilepic-display"></img>
			<div class="username-div"><h5 class="username-display">{{ username }}</h5></div>
			
		</div>
		<div class="search-result" tabindex="0">
		</div>
</div>