<div class="upper_bar">
	<img class="icon" src="images/logo.png"></img>
		<div class = "search">
			<form>
				<input type="search" placeholder="Search here..." class="searchinput" />
				<input type="submit" value="Search" class="searchsubmit" />
			</form>    
		</div>
		<div class = "shortcut">
			<nav class="shortcutlink">
				<a href="/home">Home</a>
				<a href="/view-profile">Profile</a>
				<a href="/logout">Logout</a>
			</nav>
		</div>
		<div class = "profile">
			<img src="images/kaguya.jpg" class="profilepic-display"></img>
			<h5 class="username-display">{{username}}</h5>
		</div>
</div>