<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="all" href="public/globalstyle.css">
		<title>Home | AniMatrix</title>
    </head>
    <body>
        <div class="upper_bar">
			<img class="icon" src="images/logo.png"></img>
				<div class = "search">
					 
					<form>
						<input type="search" placeholder="Search here..." class="searchinput" />
						<input type="submit" value="Search" class="searchsubmit" />
					</form>    
				</div>
				<div class = "shortcut">
					<nav class="shortcutlink">
						<a href="/homepage">Home</a>
						<a href="/viewprofile">Profile</a>
						<a href="/">Logout</a>
					</nav>
				</div>
				<div class = "profile">
					<img src="images/kaguya.jpg" class="profilepic-display"></img>
					<h5 class="username-display">okawaiikoto</h5>
				</div>
		</div>
    </body>
    
    
</html>