{{#if error_msg}}
<div class="row">
  <div class="status_msg">
    <h6 class="error"><strong>{{error_msg}}</strong></h6>
  </div>
</div>
{{/if}}

{{#if success_msg}}
<div class="row">
  <div class="status_msg">
    <h6 class="success"><strong>{{success_msg}}</strong></h6>
  </div>
</div>
{{/if}}