<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="all" href="public/globalstyle.css">
		<title>Home | AniMatrix</title>
    </head>
    <body>		
		{{> header}}
		<div class="main_content">
		<h1>
			Create Post
		</h1>
		<textarea class="title-box" wrap="soft" placeholder="Title..."></textarea>
		<textarea class="content-box" wrap="soft" placeholder="Write content..."></textarea>
		<div class="comment-buttons"> 
			<input type="submit" value="Attach media" class="searchsubmit" /> 
			<input type="submit" value="Publish Post" class="searchsubmit" />
		</div>
		</div>
        <div class="post-thread">
			<h1>
				Latest Post
			</h1><br>
		</div>
    </body>
</html>
