<div class="main_content">
	<h1>
		Create Post
	</h1>
	<form action="/submit-post" method="post" enctype="multipart/form-data">
		<textarea class="title-box" wrap="soft" placeholder="Title..." name="title" ></textarea>
		<textarea class="content-box" wrap="soft" placeholder="Write content..." name="textContent"></textarea>
		<div class="comment-buttons"> 
			<input type="file" value="Attach media" class="post-upload-image" accept="image/*" name="imageContent"/> 
			<input type="submit" value="Publish Post" class="submit-post" value="SUBMIT" />
		</div>
	</form>
	
</div>

<div class="post-thread">
	<h1>
		Latest Post
	</h1><br>
	Click on thread to view post
	{{#posts}}
		{{> post this}}
	{{/posts}}
	
</div>