<!DOCTYPE html>

<html>
	<head>
		<title>Anime Discussion Forum</title>
		<link rel="stylesheet" type="text/css" media="all" href="public/globalstyle.css">
		<script src="scripts/slideshow.js"></script>	
	</head>
	
	
	<body id="slideshow" onload="slideShow()">
		<div class="login_container">
			<div class="login_content">
				<img class="format_center" src="images/logo.png"></img>
			<h2 class="login_text">Log-in</h2>
			<h4 class="login_text">
				<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
					Username: <br>
					<input  name="username" type="text"/>
					<br>
					<br>
					Password: <br>
					<input  name="password" type="password"/>
					<br>
					<br>
					<input type="submit" value="Log-in"></input>
					<br>
					<br>
				</form>
			</h4>
			
			<h5>
				<br>
				<a href="/signup">Create a new account here</a>
			</h5>
			{{> status_msg}}
			</div>
			
		</div>
	</body>
</html>

