<!DOCTYPE html>

<html>
	<head>
		<title>Anime Discussion Forum</title>
		<link rel="stylesheet" type="text/css" media="all" href="public/globalstyle.css">
		<script src="scripts/slideshow.js"></script>	
	</head>
	
	
	<body id="slideshow" onload="slideShow()">
		<div class="login_container">
			<div class="login_content">
				<img class="format_center" src="images/logo.png"></img>
			<h2 class="login_text">Sign-up</h2>
			<h4 class="login_text">	
				<form action="/signup-post" method="POST" enctype="application/x-www-form-urlencoded">
					Email: <br>
					<input type="text"/>
					<br>
					<br>
					Username: <br>
					<input type="text"/>
					<br>
					<br>
					Password: <br>
					<input type="text"/>
					<br>
					<br>
					Confirm Password: <br>
					<input type="text"/>
					<br>
					<br>
					<input type="submit" onclick="location.href='/homepage';" value="Sign-up"></input>
					<br>
					<br>
				</form>	
			</h4>
			</div>
			
		</div>
	</body>
</html>