<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="all" href="public/globalstyle.css">
		<title>View Profile | AniMatrix</title>
    </head>
    <body>		
		{{> header}}
		<div class="main_content_profile">
			<p>// Profile</p>
				<div class="profile-container">
					<div class="profile-left-container">
						<div class="profile-image">
							<h2 class="username-profile">okawaiikoto's Profile</h2>
							<img class="profile-pic-profile" src="images/kaguya.jpg" />
						</div>
                        
                        <div class="quote-container">
                            <h3 class="quote-header-profile">Favorite Quote</h3>
                            <p class="quote-text-profile" >
								"おかわいいこと．" - Shinomiya Kaguya
							</p>
                        </div>  

						<div class="bio-container">
							<h3 class="bio-header-profile">Bio</h3>
							<p class="bio-text-profile" >
								Hi! I like watching anime!! Let's be friends! :) 
							</p>
						</div>
						
						<div class="recentactivity-container">
                            <h3 class="recentactivity-header-profile">Recent Activity</h3>
							<p class="recentactivity-text-profile">
								12/30/20: Commented on username321's post <br>
								12/25/20: Made a post <br>
								12/20/20: Commented on username436's post
							</p>
						</div>
					</div>
					
					<div class="profile-right-container">
						<h3 class="favechar-header-profile">okawaiikoto's Favorite Character</h3>
						<img src="images/shirogane-kei.jpg" class="favechar-img-profile"/>
                            
                        <a href="/editprofile"><button class="editprofilebtn-viewprofile">Edit Profile</button></a>
					</div>  
			</div>
         
    </body>
</html>