<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="all" href="public/globalstyle.css">
		<title>View Post | AniMatrix</title>
    </head>
    <body>		
		<div class="upper_bar">
			<img class="icon" src="images/logo.png"></img>
				<div class = "search">
					 
					<form>
						<input type="search" placeholder="Search here..." class="searchinput" />
						<input type="submit" value="Search" class="searchsubmit" />
					</form>    
				</div>
				<div class = "shortcut">
					<nav class="shortcutlink">
						<a href="/homepage">Home</a> 
						<a href="/viewprofile">Profile</a> 
						<a href="/">Logout</a>
					</nav>
				</div>
				<div class = "profile">
					<img src="images/kaguya.jpg" class="profilepic-display"></img>
					<h5 class="username-display">okawaiikoto</h5>
				</div>
		</div>
		<div class="main_content">
				<p class>// <a href="/homepage">Home</a> > Kratos Cosplay by: Tyler1</p>
				<p class="post-poster-time">posted by: buffdraven11 | 12 hours ago<p>
				
			<div class="post-header">
				<img class="normal-like-button" src="images/like.png">
				<h2 class="normal-like-count">1116</h2>
				
				<h1 class="post-title">&nbsp&nbspKratos Cosplay by: Tyler1</h1>
				
				<img class="image-post" src="images/View_Post2.gif">
			</div>
			
			<p class="text-post">
				<em>The most perfect cosplay in the history of humanity</em>
			</p>
			
		</div>
		<div class="comments">
			<h1>Comments</h1>
			<textarea class="comment-box" wrap="soft" rows="14" cols="10" placeholder="Write here..."></textarea>
			<div class="comment-buttons"> 
				<input type="submit" value="Attach media" class="searchsubmit" /> 
				<input type="submit" value="Post comment" class="searchsubmit" />
			</div>
			
			
			<div class="comment-thread">
				<div class="comment-entry">
					<div class="comment-likedate-container">
						<img class="normal-like-button" src="images/like.png">
						<h2 class="normal-like-count">910</h2>
						<h6 class="comment-reply">Reply<h6>
						<p class="post-poster-time">username420 | 11 hours ago<p>
					</div>
					<p class="text-post">
						Tyler1 confirmed to be the lost twin of Kratos
					</p>
				</div>
				<div class="comment-entry2">
					<div class="comment-likedate-container">
						<img class="normal-like-button" src="images/like.png">
						<h2 class="normal-like-count">334</h2>
						<h6 class="comment-reply">Reply<h6>
						<p class="post-poster-time">username456 | 9 hours ago<p>
					</div>
					<p class="text-post">
						He even matches his personality
					</p>
				</div>
				<div class="comment-entry3">
					<div class="comment-likedate-container">
						<img class="normal-like-button" src="images/like.png">
						<h2 class="normal-like-count">90</h2>
						<h6 class="comment-reply">Reply<h6>
						<p class="post-poster-time">lmao_zedong | 5 hours ago<p>
					</div>
					<p class="text-post">
						with some added brain damage lol
					</p>
				</div>
			</div>
			
			<div class="comment-thread">
				<div class="comment-entry">
					<div class="comment-likedate-container">
						<img class="normal-like-button" src="images/like.png">
						<h2 class="normal-like-count">672</h2>
						<h6 class="comment-reply">Reply | Edit<h6>
						<p class="post-poster-time">okawaiikoto | 6 hours ago<p>
					</div>
					<p class="text-post">
						He looks like a calm and a reasonable person
					</p>
				</div>
			</div>
			
			<div class="comment-thread">
				<div class="comment-entry">
					<div class="comment-likedate-container">
						<img class="normal-like-button" src="images/like.png">
						<h2 class="normal-like-count">272</h2>
						<h6 class="comment-reply">Reply<h6>
						<p class="post-poster-time">epic_gamer420 | 5 hours ago<p>
					</div>
					<p class="text-post">
						This is Spartaa!!
					</p>
				</div>
			</div>
			
			
			
		</div>
		
		<div class="ending-margin"></div>
         
    </body>
</html>