* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	transition: 0.2s;
	color: gray;
	text-decoration: none;
}

a:hover {
	transition: 0.2s;
	color: #ff7200;
}

body{
	background-size: cover;
	background-color: #ffb787;
	min-height: 100vh;
}

textarea {
	resize: none;
	color: black !important;
}

input[type="text"],input[type="search"], textarea {
	padding: 12px;
	color: gray;
	border-radius: 10px;
	border: 2px solid #ccc;
	letter-spacing: 2px;
	font-size: 15px;
	height: 15px;
	width: 300px;
}

input[type="submit"] {
	transition: 0.3s;
	padding: 12px;
	color: white;
	font-size: 18px;
	background-color: #ff7200;
	border: none;
	border-radius: 10px;
}

input[type="submit"]:hover {
	transition: 0.3s;
	background-color: gray;
}

img {
	object-fit: cover;
}

.format_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.login_text {
	letter-spacing: 3px;
	font-size: 15px;
	color: gray;
}

.upper_bar {
	min-height: 60px;
	position: sticky;
	top: 0px;
	z-index: 10;
	background-color: white;
}

.login_container {
	
	position: relative;
	padding-top: 10vh;
	height: 90vh;
}

.login_container h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.login_content {
	margin: auto;
	padding: 50px;
	padding-top: 30px;
	height: 500px;
	max-width: 450px;
	margin-bottom: 0px;
	background-color: white;
	border-radius: 20px;
}

.main_container {
	position: relative;
}

.main_content, .comments {
	margin: 30px auto;
	padding: 50px;
	max-width: 850px;
	margin-bottom: 0px;
	background-color: white;
}

.image-post {
	width: 100%;
}

.text-post {
	margin: 10px;
	font-size: 15px;
}

.normal-like-button {
	float: left;
	height: 26px;
}

.normal-like-count {
	float: left;
	font-size: 12px;
	margin-top: 8px;
	margin-left: 10px;
}

.post-title {
	float: left;
	font-size: 26px;
}


.comment-buttons {
	size: auto;
	margin-top: 10px;
}



/* for title, like and count of main post */
.post-header {
	margin-top: 20px;
}

.comment-box {
	width: 100% !important;
	word-wrap: break-word;
	overflow: scroll;
	padding-bottom: 300px !important;
	padding-top: 10px !important;
	margin-top: 10px;
	font-size: 18px !important;
}

.comment-entry {
	float: right;
	margin-left: 40px;
	border: 2px;
}

.comment-text {
	
}

.ending-margin {
	margin-top: 40px;
}

/* Edit Profile/ Home page CSS */
.upper
{
	height: 60px;
	max-width: 100%;
}
.icon
{
	object-fit: cover;
	height: 50px;               
	float: left;
}
.search
{
	height: 60px;
	width: 40%;
	float: left;
}
.shortcut
{
	height: 60px;
	font-size: 20px;
	float: left;
}
.profile
{
	position: relative;
	height: 60px;
	width: 10%;
	background-color: orange;
	float: right;
	
}
.searchinput
{
	width: 80%;
	height: 18px;
	margin-top: 12px;
	border-radius: 10px;
	border: 2px solid #ccc;
	padding: 15px !important;
	margin-left: 20px;
	
}

.searchsubmit 
{
	padding: 10px !important;
}

.shortcut {
	width: 20%
}

.shortcutlink
{
	width: 90%;
	height: 15px;
	margin-top: 20px;
	margin-left: 20px;
}

.profile 
{
	padding-right: 5px;
	width: 150px;
}

.profilepic-display
{
	margin-right: 0px;
	height: 60px;
}

.username-display
{
	float: right;
	padding-top: 24px;
}
/* End of Edit Profile/Home page CSS */


/* view profile */
.profile-pic
{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile-right
{
	float: right;
	width: 50%;
	position: relative;
	right: 100px;
}

.profile-container
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
/* end of view profile */


::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-track {
      background-color: #ff884d;
}
 
::-webkit-scrollbar-thumb:hover {
      background-color: #6e2500;
} 
::-webkit-scrollbar-thumb {
      background-color: #e34c00; 
} 
 
::-webkit-scrollbar-button {
      background-color: #6e2500;
}
 
::-webkit-scrollbar-corner {
      background-color: ff7200;
}

.comment-box::-webkit-scrollbar {
   display: none;
 }