* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

body{
	background-size: cover;
	min-height: 100vh;
}

.format_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.login_text {
	margin-top: 50px;
	font-size: 20px;
	height: 25px;
	width: 60px;
}

input[type="submit"] {
	padding: 10px;
	color: white;
	background-color: black;
}

.upper_bar {
	min-height: 52px;
	position: sticky;
	top: 0px;
	z-index: 10;
	background-color: orange;
}

.login_container {
	position: relative;
	padding-top: 10vh;
	height: 90vh;
}

.login_content {
	margin: auto;
	padding: 50px;
	height: 65vh;
	max-width: 30vw;
	margin-bottom: 0px;
	background-color: white;
	border-radius: 20px;
}

.login_input{
	font-size: 18px;
	width: 250px;
	height: 25px;
}

.main_container {
	position: relative;
}

.main_content {
	margin: 30px auto;
	min-height: 100vh;
	max-width: 950px;
	margin-bottom: 0px;
	background-color: blue;
}